<a href="https://colab.research.google.com/github/Jayakrishna143/python/blob/main/03_List%2C_Tuple_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)`

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [ ]:
nums =[1,2,3,4]
nums

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [ ]:
# Method 1
nums.remove(3)
nums

[1, 2, 4]

In [ ]:
# Method 2
nums.pop(2)
nums

[1, 2, 4]

In [ ]:
# Method 3
nums=[1,2,3,4]
del nums[2]
nums

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [ ]:
lst=[2,3,4]
lst.insert(0,1)
lst

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [ ]:
lst.insert(2,'two-and-half')
lst

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [ ]:
# CODE HERE
phrase = "Don't panic!"
x =list(phrase)
x

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

*convert into list*

`Question:` Remove ** '** and **!** in the list

In [ ]:
x.remove("'")
x.remove("!")
x

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [ ]:
# CODE HERE
x.remove("p")
x.remove("a")
x.remove("n")
x.remove("D")
x.extend("panD")
print(x)

[i for i in x if i not in ["p","a","n","D"]]

['o', 't', ' ', 'n', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [ ]:
# CODE HERE

In [ ]:
l = ['p', 'a', 'n', 'D', 'a']
"".join(l)

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [ ]:
# CODE HERE

In [ ]:
t =(31,24,35,85)
print(type(t),t)

<class 'tuple'> (31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [ ]:
# CODE HERE
i = list(t)
i.remove(35)
t = tuple(i)
t

(31, 24, 85)

**Extent** tuple (85,19)

In [ ]:
# CODE HERE

In [ ]:

l= list(t)
l.extend([85,19])
t=tuple(l)
t

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [ ]:
# CODE HERE
tpl=('i','n','n','o')
x = "i" in tpl
x

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [ ]:
# CODE HERE
list1 = ['Hello',100,[],'innomatics']
list1[2].insert(0,200)
list1

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [ ]:
# CODE HERE
tpl = ("Innomatics")

In [ ]:
list1 = list(tpl)
l = list1[::-1]
tuple(l)

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [ ]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [ ]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
t=[]
for i in tpl:
    x=i+(100,)
    t.append(x)
t

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [ ]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [ ]:

tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_tpl = []
for i in tpl:
    x = i[:-1] + (100,)
    new_tpl.append(x)
new_tpl

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [99]:
# CODE HERE
j ='5 2 3 6 6 5'
x = set(j.split())
y =list(x)
y.sort()
print(y[-2])

5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [101]:
# CODE HERE
l=[12,24,35,70,88,120,155]
x =[l[i] for i in range(len(l)) if i not in (0,4,5)]
x

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [104]:
t=(1,2,3,4,5,6,7,8,9,10)
x =tuple(t[:5])
y = tuple(t[5:])
print(x,y)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [106]:
x=[i for i in range(1,11) if i%2==0]
t=tuple(x)
t

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
# Solution

list is mutable where as tuples are not so that methods that are use to append,remove are not available

### 2. Explain the difference between append() and extend() with examples

In [ ]:
# Solution

##append()
- Adds the entire object (whether a string, list, number, etc.) as a single element to the end of the list.
- Treats the object as a whole and adds it as-is.
##extend()
- Iterates over the input (like a string, list, or other iterable) and adds each element individually to the list.
- Breaks down the iterable into its individual elements and adds them.

In [116]:
l=[1,2,3]
l.append([4,5,'apple']) # aapend add single elements to the end of list
l

[1, 2, 3, [4, 5, 'apple']]

In [117]:
l=[1,2,3]
l.extend(['apple',2,3,4]) # adds multiple elements to same list without creating any additional inner list
l

[1, 2, 3, 'apple', 2, 3, 4]

### 3. Explain the difference between pop() and remove() with examples

## pop()
pop and remove removes single element from list but where as pop requires index of element as input to remove
## remove()
remove method remove single elemnt form list and it requires index of specific element that need to remove

In [109]:
nums =[1,2,3,4] # removing 3 form list using remove
nums.remove(3)# 3 is the element  that need to remove
nums

[1, 2, 4]

In [110]:
nums =[1,2,3,4] #removing 3 from list using pop
nums.pop(2)# here the index of element 3 which is 2 is given
nums

[1, 2, 4]

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)

In [85]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']