<a href="https://colab.research.google.com/github/Jayakrishna143/python/blob/main/task14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l=[]
for i in range(1,21):
    if i%2==0:
        j = i**2
        l.append(j)
print(l)

o =[]
i=1
while i<=20:
    if i%2==0:
        j = i**2
        o.append(j)
    i+=1
print(o)

i = [j**2 for j in range(1,21) if j%2==0]
print(i)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]
[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]
[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

Create a list of the lengths of each word in a given sentence "Python is awesome and fun".

In [ ]:
l =[len(i) for i in "Python is awesome and fun".split()]
print(l)

l=[]
s=0
a = "Python is awesome and fun".split()
while s < len(a):
    k = len(a[s])
    l.append(k)
    s+=1
print(l)

o=[]
a= "Python is awesome and fun".split()
for i in a:
    k = len(i)
    o.append(k)
print(o)

[6, 2, 7, 3, 3]
[6, 2, 7, 3, 3]
[6, 2, 7, 3, 3]

Extract all numbers greater than 5 from a given list [2, 3, 5, 7, 10, 1, 4, 8].

In [ ]:
o = [i for i in [2, 3, 5, 7, 10, 1, 4, 8] if i >5]
print(o)
#using for loop
o=[]
for i in [2, 3, 5, 7, 10, 1, 4, 8]:
    if i>5:
        o.append(i)
print(o)

#using while loop
o=[]
i =0
a=[2, 3, 5, 7, 10, 1, 4, 8]
while i<len(a):
    if a[i]>5:
      o.append(a[i])
    i+=1
print(o)

[7, 10, 8]
[7, 10, 8]
[7, 10, 8]

Create a list containing only the first character of each word in a given list ["apple", "banana", "cherry", "date"].

In [ ]:
v = [i[0] for i in  ["apple", "banana", "cherry", "date"] ]
print(v)

#using for loop
a =["apple", "banana", "cherry", "date"]
v=[]
for i in a:
    v.append(i[0])
print(v)

#using while loop
v=[]
i=0
while i<len(a):
    v.append(a[i][0])
    i+=1
print(v)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']

Create a list of tuples with the number and its square for numbers from 1 to 10.

In [ ]:
from re import L
e = [(i,i**2) for i in range(1,11)]
print(e,sep=' ')

#for loop
l=[]
for i in range(1,11):
    l.append((i,i**2))
print(l)

#while loop
l=[]
i=1
while i<=10:
    l.append((i,i**2))
    i+=1
print(l)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]
[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]
[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

Create a list of strings that are uppercase and have more than 3 letters from the list ['abc', 'DEF', 'ghi', 'JKL', 'mnop'].

In [ ]:
y = [i for i in ['abc', 'DEF', 'ghi', 'JKL', 'mnop'] if i.isupper() and len(i)>3]
print(y)

#for loop
a=['abc', 'DEF', 'ghi', 'JKL', 'mnop']
y=[]
for i in a:
    if i.isupper() and len(i)>3:
        y.append(i)
print(y)

#while loop
i = 0
y=[]
while i <len(a):
    if a[i].isupper() and len(a[i])>3:
        y.append(a[i])
    i+=1
print(y)

[]
[]
[]

Flatten a 2D list [[1, 2], [3, 4], [5, 6]] into a single list.

In [ ]:
o = [i for i in [[1, 2], [3, 4], [5, 6]]  for i in i]
print(o)

# for loop
o =[]
for i in [[1, 2], [3, 4], [5, 6]]:
    for j in i:
        o.append(j)
print(o)

# while loop
a=[[1, 2], [3, 4], [5, 6]]
i=0
o=[]
while i <len(a):
    j=0
    while j < len(a[i]):
        o.append(a[i][j])
        j+=1
    i+=1
print(o)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

Given a list of numbers [1, 2, 3, 4, 5], generate a new list where each element is the result of multiplying the original number by 3, but only if the number is odd.

In [ ]:
u = [i*3 for i in [1,2,3,4,5] if i%2!=0]
print(u)

# for loop
u =[]
for i in [1,2,3,4,5]:
    if i%2!=0:
        u.append(i*3)
print(u)

# while loop
a=[1,2,3,4,5]
u=[]
i=0
while i<len(a):
    if a[i]%2!=0:
        u.append(a[i]*3)
    i+=1
print(u)

[3, 9, 15]
[3, 9, 15]
[3, 9, 15]

Using a nested ternary operator, create a list that replaces numbers greater than 10 with the string 'Large' and others with 'Small' from the list [5, 12, 9, 19, 7, 3].

In [ ]:
m = ['large' if i>10 else 'small' for i in [5, 12, 9, 19, 7, 3]]
print(m)

# for loop
a=[5, 12, 9, 19, 7, 3]
m=[]
for i in a:
    if i>10:
        m.append('large')
    else:
        m.append('small')
print(m)

# while loop
m=[]
i=0
while i<len(a):
    if a[i]>10:
        m.append('large')
    else:
        m.append('small')
    i+=1
print(m)

['small', 'large', 'small', 'large', 'small', 'small']
['small', 'large', 'small', 'large', 'small', 'small']
['small', 'large', 'small', 'large', 'small', 'small']

Create a dictionary where keys are numbers from 1 to 5 and values are their squares.

In [ ]:
d ={i:i**2 for i in range(1,6)}
print(d)

# for loop
for i in range(1,6):
    d[i] =i**2
print(d)

#while loop
i=1
d ={}
while i<=5:
    d[i] = i**2
    i+=1
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Given a list of names ['Alice', 'Bob', 'Charlie'], create a dictionary where each name is a key, and the value is the length of the name.

In [ ]:

d ={i:len(i) for i in ['Alice', 'Bob', 'Charlie']}
print(d)

# for loop
d={}
for i in ['Alice', 'Bob', 'Charlie']:
    d[i] = len(i)
print(d)

# while loop

i =0
a = ['Alice', 'Bob', 'Charlie']
while i < len(a):
    d[a[i]] = len(a[i])
    i+=1
print(d)

{'Alice': 5, 'Bob': 3, 'Charlie': 7}
{'Alice': 5, 'Bob': 3, 'Charlie': 7}
{'Alice': 5, 'Bob': 3, 'Charlie': 7}

Create a dictionary where the keys are the numbers from 1 to 10 and the values are 'Even' or 'Odd' based on whether the number is even or odd.

In [ ]:
d = {i:'even' if i%2==0 else 'odd' for i in range(1,11)}
print(d)

#for loop
d={}
for i in range(1,11):
    if i%2==0:
        d[i] = 'Even'
    else:
        d[i] = 'Odd'
print(d)

# while loop
d ={}
i = 1
while i<11:
    if i%2==0:
        d[i] = 'Even'
    else:
        d[i] = 'Odd'
    i+=1
print(d)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd', 10: 'even'}
{1: 'Odd', 2: 'Even', 3: 'Odd', 4: 'Even', 5: 'Odd', 6: 'Even', 7: 'Odd', 8: 'Even', 9: 'Odd', 10: 'Even'}
{1: 'Odd', 2: 'Even', 3: 'Odd', 4: 'Even', 5: 'Odd', 6: 'Even', 7: 'Odd', 8: 'Even', 9: 'Odd', 10: 'Even'}

Given a list of tuples [(1, 'a'), (2, 'b'), (3, 'c')], create a dictionary where the first element of each tuple is the key and the second element is the value.

In [ ]:
data = [(1, 'a'), (2, 'b'), (3, 'c')]
d ={k:v for k,v in data}
print(d)

# forloop
d={}
for x in data:
    d[x[0]] = x[1]
print(d)

# while loop
d={}
i=0
while i<len(data):
    d[data[i][0]] = data[i][1]
    i+=1
print(d)

{1: 'a', 2: 'b', 3: 'c'}
{1: 'a', 2: 'b', 3: 'c'}
{1: 'a', 2: 'b', 3: 'c'}

Create a dictionary that maps the first letter of each word to the corresponding word from the list ["apple", "banana", "cherry", "date"].

In [ ]:
l =["apple", "banana", "cherry", "date"]
d = {i[0]:i for i in l }
print(d)

#for loop
for i in l:
    d[i[0]] = i
print(d)

#while loop
i=0
while i < len(l):
    d[l[i][0]] = l[i]
    i+=1
print(d)

{'a': 'apple', 'b': 'banana', 'c': 'cherry', 'd': 'date'}
{'a': 'apple', 'b': 'banana', 'c': 'cherry', 'd': 'date'}
{'a': 'apple', 'b': 'banana', 'c': 'cherry', 'd': 'date'}

Create a dictionary from a list ['apple', 'banana', 'cherry', 'date'] where the key is the word and the value is its length, but exclude words with less than 5 letters.

In [ ]:
l =  ['apple', 'banana', 'cherry', 'date']
d ={i:len(i) for i in l if len(i)>5}
print(d)

 #for loop
for i in l:
    if len(i)>5:
        d[i] = len(i)
print(d)

#while loop
i = 0
while i < len(l):
    if len(l[i])>5:
        d[l[i]] = len(l[i])
    i+=1
print(d)

{'banana': 6, 'cherry': 6}
{'banana': 6, 'cherry': 6}
{'banana': 6, 'cherry': 6}

Using a dictionary comprehension, invert the following dictionary {'a': 1, 'b': 2, 'c': 3}, so the values become keys and keys become values.

In [ ]:
l = {'a': 1, 'b': 2, 'c': 3}
d = {v:k for k,v in l.items()}
print(d)

# using for loop
for k,v in l.items():
    d[v] =k
print(d)

#while loop
i=0
d={}
while i<len(l):
    d[list(l.values())[i]] = list(l.keys())[i]
    i+=1
print(d)

{1: 'a', 2: 'b', 3: 'c'}
{1: 'a', 2: 'b', 3: 'c'}
{1: 'a', 2: 'b', 3: 'c'}

Create a dictionary that maps each word in the sentence "This is Python" to its index in the sentence.

In [ ]:
s = "This is Python"
d ={i:s.split().index(i) for i in s.split()}
print(d)

# for loop
d={}
for i in s.split():
    d[i] = s.split().index(i)
print(d)

#whileloop
i=0
while i < len(s.split()):
    d[s.split()[i]] = i
    i+=1
print(d)

{'This': 0, 'is': 1, 'Python': 2}
{'This': 0, 'is': 1, 'Python': 2}
{'This': 0, 'is': 1, 'Python': 2}

Create a dictionary where keys are the elements of a list ['apple', 'banana', 'cherry', 'date'] and values are 'Yes' if the word contains more than 5 letters, 'No' otherwise.

In [ ]:
l = ['apple', 'banana', 'cherry', 'date']
d = {i:'yes' if len(i)>5 else "No" for i in l}
print(d)

# for loop
for i in l:
    if len(i)>5:
        d[i] = 'yes'
    else:
        d[i] = 'No'
print(d)

# while loop
i=0
while i<len(l):
    if len(l[i])>5:
        d[l[i]] = 'yes'
    else:
        d[l[i]] = 'No'
    i+=1
print(d)

{'apple': 'No', 'banana': 'yes', 'cherry': 'yes', 'date': 'No'}
{'apple': 'No', 'banana': 'yes', 'cherry': 'yes', 'date': 'No'}
{'apple': 'No', 'banana': 'yes', 'cherry': 'yes', 'date': 'No'}

Create a set containing all even numbers between 1 and 20

In [ ]:

even_numbers = {i for i in range(1, 21,) if i%2==0}
print(even_numbers)
#for loop
s =set()
for i in range(1,21):
    if i%2==0:
        s.add(i)
print(s)

#while loop
i = 1
s = set()
while i<=20:
    if i%2==0:
        s.add(i)
    i+=1
print(s)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

Create a set of the unique characters in the string "Python Programming".

In [ ]:
st ='Python Programming'
s = {i for i in st}
print(s,type(s))

# for loop
s = set()
for i in st:
    s.add(i)
print(s,type(s))
# while loop
i=0
s = set()
while i<len(st):
    s.add(st[i])
    i+=1
print(s,type(s))

{'t', 'r', 'y', 'P', 'n', 'a', 'o', 'm', ' ', 'h', 'g', 'i'} <class 'set'>
{'t', 'r', 'y', 'P', 'n', 'a', 'o', 'm', ' ', 'h', 'g', 'i'} <class 'set'>
{'t', 'r', 'y', 'P', 'n', 'a', 'o', 'm', ' ', 'h', 'g', 'i'} <class 'set'>

From a list of numbers [1, 2, 2, 3, 4, 5, 5, 6], create a set of unique numbers.

In [ ]:
s = {s for s in [1, 2, 2, 3, 4, 5, 5, 6]}
print(s)
# for loop
l =[1, 2, 2, 3, 4, 5, 5, 6]
s =set()
for i in l:
    s.add(i)
print(s)

#while loop
i=0
s=set()
while i <len(l):
    s.add(l[i])
    i+=1
print(s)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

Create a set that contains only the vowels from the string "The quick brown fox jumps over the lazy dog".

In [ ]:
vowels = {'a', 'e', 'i', 'o', 'u'}
s = {i for i in "The quick brown fox jumps over the lazy dog" if i.lower() in vowels}
print(s)

#for loop
s = set()
for i in "The quick brown fox jumps over the lazy dog":
    if i.lower() in vowels:
        s.add(i)
print(s)
#while loop
a ="The quick brown fox jumps over the lazy dog"
i=0
s = set()
while i<len(a):
    if a[i].lower() in vowels:
        s.add(a[i])
    i+=1
print(s)

{'u', 'e', 'a', 'o', 'i'}
{'u', 'e', 'a', 'o', 'i'}
{'u', 'e', 'a', 'o', 'i'}

Create a set of squares for all numbers from 1 to 10, but only include the square if it’s an odd number.

In [ ]:
s = {i**2 for i in range(1,10) if i**2 %2 ==0 }
print(s)

# for loop
s=set()
for i in range(1,10):
    if i**2 %2 ==0:
        s.add(i**2)
print(s)

# while loop
i = 1
s = set()
while i <10:
    if i**2 %2==0:
        s.add(i**2)
    i+=1
print(s)

{16, 64, 4, 36}
{16, 64, 4, 36}
{16, 64, 4, 36}