<a href="https://colab.research.google.com/github/Jayakrishna143/python/blob/main/task14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l=[]
for i in range(1,21):
    if i%2==0:
        j = i**2
        l.append(j)
print(l)

o =[]
i=1
while i<=20:
    if i%2==0:
        j = i**2
        o.append(j)
    i+=1
print(o)

i = [j**2 for j in range(1,21) if j%2==0]
print(i)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]
[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]
[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

Create a list of the lengths of each word in a given sentence "Python is awesome and fun".

In [ ]:
l =[len(i) for i in "Python is awesome and fun".split()]
print(l)

l=[]
s=0
a = "Python is awesome and fun".split()
while s < len(a):
    k = len(a[s])
    l.append(k)
    s+=1
print(l)

o=[]
a= "Python is awesome and fun".split()
for i in a:
    k = len(i)
    o.append(k)
print(o)

[6, 2, 7, 3, 3]
[6, 2, 7, 3, 3]
[6, 2, 7, 3, 3]

Extract all numbers greater than 5 from a given list [2, 3, 5, 7, 10, 1, 4, 8].

In [ ]:
o = [i for i in [2, 3, 5, 7, 10, 1, 4, 8] if i >5]
print(o)
#using for loop
o=[]
for i in [2, 3, 5, 7, 10, 1, 4, 8]:
    if i>5:
        o.append(i)
print(o)

#using while loop
o=[]
i =0
a=[2, 3, 5, 7, 10, 1, 4, 8]
while i<len(a):
    if a[i]>5:
      o.append(a[i])
    i+=1
print(o)

[7, 10, 8]
[7, 10, 8]
[7, 10, 8]

Create a list containing only the first character of each word in a given list ["apple", "banana", "cherry", "date"].

In [ ]:
v = [i[0] for i in  ["apple", "banana", "cherry", "date"] ]
print(v)

#using for loop
a =["apple", "banana", "cherry", "date"]
v=[]
for i in a:
    v.append(i[0])
print(v)

#using while loop
v=[]
i=0
while i<len(a):
    v.append(a[i][0])
    i+=1
print(v)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']

Create a list of tuples with the number and its square for numbers from 1 to 10.

In [ ]:
from re import L
e = [(i,i**2) for i in range(1,11)]
print(e,sep=' ')

#for loop
l=[]
for i in range(1,11):
    l.append((i,i**2))
print(l)

#while loop
l=[]
i=1
while i<=10:
    l.append((i,i**2))
    i+=1
print(l)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]
[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]
[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

Create a list of strings that are uppercase and have more than 3 letters from the list ['abc', 'DEF', 'ghi', 'JKL', 'mnop'].

In [ ]:
y = [i for i in ['abc', 'DEF', 'ghi', 'JKL', 'mnop'] if i.isupper() and len(i)>3]
print(y)

#for loop
a=['abc', 'DEF', 'ghi', 'JKL', 'mnop']
y=[]
for i in a:
    if i.isupper() and len(i)>3:
        y.append(i)
print(y)

#while loop
i = 0
y=[]
while i <len(a):
    if a[i].isupper() and len(a[i])>3:
        y.append(a[i])
    i+=1
print(y)

[]
[]
[]

Flatten a 2D list [[1, 2], [3, 4], [5, 6]] into a single list.

In [ ]:
o = [i for i in [[1, 2], [3, 4], [5, 6]]  for i in i]
print(o)

# for loop
o =[]
for i in [[1, 2], [3, 4], [5, 6]]:
    for j in i:
        o.append(j)
print(o)

# while loop
a=[[1, 2], [3, 4], [5, 6]]
i=0
o=[]
while i <len(a):
    j=0
    while j < len(a[i]):
        o.append(a[i][j])
        j+=1
    i+=1
print(o)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

Given a list of numbers [1, 2, 3, 4, 5], generate a new list where each element is the result of multiplying the original number by 3, but only if the number is odd.

In [ ]:
u = [i*3 for i in [1,2,3,4,5] if i%2!=0]
print(u)

# for loop
u =[]
for i in [1,2,3,4,5]:
    if i%2!=0:
        u.append(i*3)
print(u)

# while loop
a=[1,2,3,4,5]
u=[]
i=0
while i<len(a):
    if a[i]%2!=0:
        u.append(a[i]*3)
    i+=1
print(u)

[3, 9, 15]
[3, 9, 15]
[3, 9, 15]

Using a nested ternary operator, create a list that replaces numbers greater than 10 with the string 'Large' and others with 'Small' from the list [5, 12, 9, 19, 7, 3].

In [ ]:
m = ['large' if i>10 else 'small' for i in [5, 12, 9, 19, 7, 3]]
print(m)

# for loop
a=[5, 12, 9, 19, 7, 3]
m=[]
for i in a:
    if i>10:
        m.append('large')
    else:
        m.append('small')
print(m)

# while loop
m=[]
i=0
while i<len(a):
    if a[i]>10:
        m.append('large')
    else:
        m.append('small')
    i+=1
print(m)

['small', 'large', 'small', 'large', 'small', 'small']
['small', 'large', 'small', 'large', 'small', 'small']
['small', 'large', 'small', 'large', 'small', 'small']